################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PodcastWP.Universal/bin/Release
/PodcastWP.Universal/obj/Release
*.suo
/PodcastWP/Bin/x86/Release
/PodcastWP/obj/x86/Release
*.user
/PodcastWP/packages
/PodcastWP.Tests/bin/Release
/PodcastWP.Tests/obj/Debug
/PodcastWP.Tests/obj/Release
*.nupkg
/PodcastWP/Bin/Release
/PodcastWP/obj
/PodcastWP.Universal/obj/Debug
